<!--
  Generated template for the AddquestionPage page.

  See http://ionicframeworkcom/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add New</ion-title>
  </ion-navbar>

  <form id="home-form6">
    <ion-item id="home-input8">

    <ion-input type="text" placeholder="Help us help you: add feedback!" [(ngModel)]="recommendation_adding" name="first"></ion-input>

    <button ion-button item-right  (click)="sendFeedback()"> <ion-icon name="paper-plane"> </ion-icon> </button>
    </ion-item>
  </form>

</ion-header>


<ion-content padding>
  <ion-list>



<div style="display:flex; flex-direction:column;justify-content:center;color:#000000;">
  <ion-item>
    <ion-label floating>Tutorial Number:</ion-label>
    <ion-input type="Number"  [(ngModel)]="TutNo"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label floating>Question Number:</ion-label>
    <ion-input type="number"  [(ngModel)]="QuesNo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating> I need... (please explain in full)</ion-label>
   <ion-textarea  [(ngModel)]="Description"></ion-textarea>
 </ion-item>
    </div>

    <h2 id="home-heading1" style="display:flex; flex-direction:column;justify-content:center;color:#000000;">
    Question Photo
    </h2>

  <div style="display:flex; flex-direction:column;justify-content:center">
     <button ion-button (click)="presentQuestActionSheet()">Add question photo</button>
     <img [src]="QuestionDataUrl" *ngIf="QuestionDataUrl"/>
   </div>


   <h2 id="home-heading1" style="color:#000000;">
   Working Photo
   </h2>

   <div style="display:flex; flex-direction:column;justify-content:center">
     <button ion-button (click)="presentWorkingActionSheet()" block>Add Working Photo</button>

<div style="display:flex; flex-direction:column;justify-content:center">
     <img [src]="WorkDataUrl1" *ngIf="WorkDataUrl1"/>
</div>

<form>
<ion-item id="editDocument-select2">



    <ion-label>
      Type of help
    </ion-label>
    <ion-select [(ngModel)]="TypeOfHelp" name = "type">
      <ion-option value = "Conceptual Issue">
        Conceptual Issue
      </ion-option>
      <ion-option  value = "Finding my mistake">
          Finding my mistake
        </ion-option>
        <ion-option value = "Other">
          Other
      </ion-option>
    </ion-select>
  </ion-item>
  <ion-item id="editDocument-select3">
    <ion-label>
      Who to notify
    </ion-label>
    <ion-select [(ngModel)]="PplNot" name = "people">
      <ion-option value = "Only Bruce Kloot">
        Only Bruce Kloot
      </ion-option>
      <ion-option value = "Only Tutors">
        Only Tutors
      </ion-option>
      <ion-option value = "All">
        All
      </ion-option>
    </ion-select>
  </ion-item>



  <ion-item>
      <ion-label>Post as anonymous</ion-label>
      <ion-toggle [(ngModel)]="Anon" name = "A"></ion-toggle>
    </ion-item>
</form>

  <button ion-button block  (click)="postQuestion()">Post Question</button>
</div>
</ion-list>

</ion-content>
